# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

estimatingR0/.Rhistory
draftfinalreport_v3.pdf
nir_census*.pdf
NIR_MMR_numerator_raw_data_20150106_encrypted.txt
NIR_CI_denominator_raw_data_20150106_encrypted.txt
draftfinalreport_v3_not_in_git.pdf
.Rhistory
draftfinalreport_v4-007.pdf
draftfinalreport_v4-017.pdf
*.bbl
*.log
*.toc
draftfinalreport_v4.pdf
draftfinalreport_v4.tex
draftfinalreport_v4.synctex.gz
.Rproj.user
